/* EESTILO PARA NUESTRO EQUIPO*/
.titulo-equipo {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: black;
    margin-bottom: 30px;
}

/* GRILLA DE EQUIPO */
.equipo-grilla {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
    gap: 20px;
    justify-items: center; /* Centra los elementos dentro de cada celda */
    margin: 0 auto;
    width: 80%; /* para ajustar el ancho de la grilla */
}

.equipo-grilla .miembro {
    text-align: center;
}

.equipo-grilla .miembro img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Hacer las imágenes circulares */
    object-fit: cover; /* Mantener la proporción de las imágenes */
    margin-bottom: 10px;
}

.equipo-grilla .miembro h3 {
    font-size: 18px;
    font-weight: normal;
}
