// _variables.scss

// Colores
$color-primary: #f8a600;
$color-secondary: #2d2d2d;
$color-background: #ffffff;
$color-text: #333333;
$color-footer-background: #f1f1f1;
$color-link: #1a73e8;
$color-link-hover: #155cbd;

// Tipografías
$font-primary: 'Bebas Neue', sans-serif;
$font-secondary: 'Arial', sans-serif;

// Otros
$header-height: 80px;