// _contacto.scss

@use 'general' as *;

// Estilos específicos de la página de contacto

h2.nuevo-titulo {
    font-family: $font-primary;
    font-size: 2rem;
    color: $color-primary;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;

    label {
        font-weight: bold;
    }

    input,
    textarea {
        padding: 10px;
        border: 1px solid $color-secondary;
        border-radius: 5px;
        font-size: 1rem;
    }

    button {
        background-color: $color-primary;
        color: $color-background;
        border: none;
        padding: 10px;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }
}