// _galeria.scss

@use 'general' as *;

// Estilos específicos de la página de galería

h2.nuevo-titulo {
    font-family: $font-primary;
    font-size: 2rem;
    color: $color-primary;
}

.galeria-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}