// _servicios.scss

@use 'general' as *;

// Estilos específicos de la página de servicios

h2.nuevo-titulo {
    font-family: $font-primary;
    font-size: 2rem;
    color: $color-primary;
}

.servicios {
    display: flex;
    justify-content: space-around;
    gap: 20px;

    .servicio {
        h3 {
            font-family: $font-primary;
            font-size: 1.5rem;
            color: $color-primary;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}