// _tarifas.scss

@use 'general' as *;

// Estilos específicos de la página de tarifas

h2.nuevo-titulo {
    font-family: $font-primary;
    font-size: 2rem;
    color: $color-primary;
}

.tarifas {
    display: flex;
    justify-content: center;
    gap: 20px;

    .tarifa {
        display: flex;
        gap: 20px;

        .imagen {
            width: 50%;
        }

        .descripcion {
            width: 50%;
        }

        p {
            color: $color-text;
        }
    }
}